<!-- templates/registration/signup.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block title %}Sign Up{% endblock title %}
{% block content %}

<div class="container">
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>

    <hr data-content="AND" class="hr-text">

    <a class="btn btn-outline-primary" href="{% provider_login_url 'google' %}"><img
            src="https://img.icons8.com/color/16/000000/google-logo.png">
        Signup with Google
    </a>
</div>

{% endblock content %}