[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
django-crispy-forms = "*"
django-allauth = "==0.43.0"
psycopg2-binary = "==2.9.5"
environs = {version = "==8.0.0", extras = ["django"]}
pillow = "==9.3.0"

[dev-packages]

[requires]
python_version = "3.10"
